<link rel="stylesheet" href="/arquivos/style.css">
<main>
    <div class="container">
        <h1>Cadastro De Usuário</h1>
        <form action="/users/create" method="POST" id="form">
            <!--Titulo-->
            <div class="inputs">
                <input type="text" name="nome"  class="input required" required>
                <label>Nome do Usuário</label>
            </div>
            <!--Autor-->
            <div class="inputs">
                <input type="text" name="profissao"  class="input required" required>
                <label>Profissão</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="newsletter"  class="check" checked>
                <label for="newsletter">Envia Promoções?</label>
            </div>

            <button type="submit" id="button">Cadastrar</button>
        </form>
    </div>
</main>