<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing:border-box ;
            font-family: "Fjalla One";
        }
        body{
            background-color: whitesmoke;


        }
        header{
            background-color: #00BFFF;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between; 
            color: white;
            
        }
        #nav-list {
            display: flex;
            gap: 20px;  
        }
        #nav-list ul{
            list-style: none;
        }
        #nav-list a{
            text-decoration: none;
            font-size: 25px;
            color: white;
        }
    </style>

</head>

<body>
    <header>
        <h1>Produtos</h1>
        <nav id="nav-list">
            <ul><li><a href="/">Produtos</a></li></ul>
            <ul><li><a href="/criar">Criar Produto</a></li></ul>

        </nav>
</header>
    {{{body}}}
</body>
</html>
</body>
</html>