<!-- Exibe uma mensagem usando os dados do objeto "user" -->
<h1>O Usuário {{user.name}} tem {{user.age}} anos e mora em {{user.city}}</h1>

<!-- Verifica se a variável "auth" é verdadeira -->
{{#if auth}}
    <!-- Caso o usuário esteja autenticado, exibe a mensagem abaixo -->
    <p>
        Você está autenticado, <a href="/dashboard">Clique aqui</a>
    </p>
{{else}}
<p>VOce Náo esta autenticado</p>
{{/if}}
