<main>
    <link rel="stylesheet" href="/arquivos/form.css">
<main>
    <div class="container">
        <div>
            <h1>Criar Produto</h1>
        </div>
        <form action="/adicionar" method="POST">
            <div class="inputs">
                <input type="text" name="nome"  class="input" required>
                <label>Nome do Produto</label>
            </div>
            <div class="inputs">
                <input type="text" name="preco"  class="input" required>
                <label>Preco do Produto</label>
            </div>
            <div class="inputs">
                <input type="text" name="descricao"  class="input textarea" required placeholder="Descreva a Tarefa"> 
            </div>
            <button type="submit">Criar</button>
        </form>
    </div>
</main> 
</main>