<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <h1>Cadastre um Livro</h1>


    <form action="/livros/inserir" method="POST" id="form">
        <div class="inputs">
            <input type="text" name="titulo" id="input" placeholder="Titulo:">
            
        </div>
        <div class="inputs">
            <input type="number" name="paginas" id="input" placeholder="Páginas:">
            
        </div>
        
                <button type="submit" id="cadastro">Cadastre</button>
    </form>
            <div class="buttons">
                <button><a href="/livros">Livros</a></button>
                <button>a</button>
                <button>b</button>
                <button>c</button>
            </div>
    <div id="res">
    </div>
</div>
