<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <h1>Cadastre um Livro</h1>


    <form action="/livros/inserir" method="POST" id="form">
        <div class="inputs">
            <input type="text" name="titulo" id="input" placeholder="Titulo:">
            
        </div>
        <div class="inputs">
            <input type="number" name="paginas" id="input" placeholder="Páginas:">
            
        </div>
        
            <div class="buttons">
                <button type="submit">Cadastre</button>
                <button type="button"><a href="/livros">Livros</a></button>
            </div>
        </form>
    </div>
</div>
