<link rel="stylesheet" href="/css/livros.css">
    <h2>Livros Disponiveis</h2>
    <div class="container">
{{#each Livros}}
            <div>
                
                #{{this.id}} - <span class="bold">{{this.titulo}}</span> - {{this.paginas}}
            </div>

{{/each}}
</div>
